# Python
.venv/
venv/
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.pyo
*.pyd
.Python

# Jupyter
.ipynb_checkpoints/

# C / C++
*.o
*.a
*.so
*.out
*.exe

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs & data
*.log
*.csv

# MPI / SLURM
slurm-*.out
core.*
